<div class="home-bg"><a [routerLink]="['/auth','/login']">
  <button mat-raised-button class="black-button">
    <span class="button-content">
      <mat-icon>login</mat-icon>
      <span>Join Us</span>
    </span>
  </button>
</a>
<div class="home-banner"></div>
<div class="articles-section d-flex flex-column align-items-center">
<h1 class="text-center text-white">Great Stories Are CoWritten</h1>
<div class="d-grid gap-3 container">
  <div class="card p-2" *ngFor="let article of articles">
    <img class="card-img-top" [src]="article.image?.includes('null') ?  './assets/images/no-image.avif' : article.image"  alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{ article.title }}</h2>
      <p class="card-text">{{ article.content | slice:0:190 }}...</p>
    </div>
    <div class="card-footer">
    <a [routerLink]="['/articles', article._id]" class="btn btn-dark w-100">Read More</a>
    </div>
  </div>
</div>
</div>
</div>
<footer class="footer p-3">
  <div class="container text-center">
    <p class="text-white m-0">© 2025 CoWrite By Aziz Tarous. All rights reserved.</p>
  </div>
</footer>